# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Coverage and instrumented libs
coverage/
*.lcov
.nyc_output
lib-cov/

# Dependency directories
node_modules/
jspm_packages/
bower_components/

# Compiled outputs
build/
build/Release

# TypeScript cache
*.tsbuildinfo

# Caches and temporary files
.npm
.eslintcache
.stylelintcache
.cache/
.parcel-cache/
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.docusaurus/
.temp/
.serverless/
.fusebox/
.dynamodb/
.tern-port
.vscode-test

# Environment variables
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Output files
*.tgz
.out
.dist
.next
.nuxt

# Yarn 2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# Editor directories and files
.vscode/
*.code-workspace
.history/
*.sublime*
.DS_Store
Thumbs.db

# Ignore TypeScript compiled JavaScript files
*.js
*.js.map
